@media (max-width: 1541px) {
  .geoffrey-title.stopped {
    left: 452.6px; /* Change position as per requirement */
  }
}


@media (max-width: 1541px) {
  .ashton-title.stopped {
    left: 664.8px; /* Change position as per requirement */
  }
}

@media (max-width: 1250px) {
  .geoffrey-title.stopped {
    left: 25%;
  }
}


@media (max-width: 1250px) {
  .ashton-title.stopped {
    left: 50%;
  }
}
